:root{
    --blanco: #ffffff;
    --obscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

.fondo-img{
    background-image: url(../img/fotos-de-portada-11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: relative;
}

.colorobscuro{
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7063200280112045) 0%, rgba(252,252,252,0.3113620448179272) 50%, rgba(0,0,0,0.7287289915966386) 100%);   position: absolute;
    height: 50%;
    width: 50%;
    color:rgb(20, 93, 26);
}

.texto1{
    /*color: #34017D ;*/ /* color en hexadecimal*/
    color: #757575;
    font-weight: 300;
}

.texto2{
    /*color: rgb(67, 231, 171);*/
    font-family: 'Lato', sans-serif;
    color:#47270d;
    font-weight: 700;
    
}

.texto8{
    color: rgba(245, 40, 145, 0.13);
}

.texto3{
    /*color: rgba(255, 0, 252, 1);*/
    color: #212121;
    font-weight: 700;
}

.texto4{
    /*color: #FF921F;*/
    color: #3b33aa;
    font-family: 'Times New Roman', Times, Serif, Arial;
    font-size: 40px;
}

.clase-icono{
    color: salmon;
}



.principal{
    /*background-color: hsl(65, 58%, 65%);
    background-color: #d8bc6a;*/
    font-family: 'Prompt', sans-serif;
    color: rgb(20, 93, 26);
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

h1{
    color: var(--blanco);
}

#principal2{
    color: #6d0a40;
}

#model-box{
    margin: 30px;
    font-size: 2rem;
}

.texto3 h1{
    background-color: #ffc107;
}



